{
  "printWidth": 119,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "xmlQuoteAttributes": "double",
  "xmlSelfClosingSpace": true,
  "xmlWhitespaceSensitivity": "ignore",
  "plugins": ["@prettier/plugin-xml"]
}
