<?xml version="1.0" encoding="utf-8" ?>
<content
  id="swi_heroes_rebalanced"
  name="Heroes for SWI: Rebalanced"
  description="Rebalances the Heroes and Legends SWI submod to make the mod progression more natural and engaging."
  author="Vamorix"
  version="086"
  date="2025-12-04"
  save="0"
  enabled="1"
>
  <dependency id="SW Interworlds" name="SW Interworlds" optional="false" version="086" />
  <dependency id="sov_dreadnaughts" name="Dreadnaughts and Battlecruisers" optional="false" version="520" />
  <dependency id="swi_heroes" version="760" optional="false" />
</content>
